@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* common shared styles */

* {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 130px;
}

body {
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  background-color: #ff900e;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.section-title {
  font-size: 2.8rem;
  color: #131313;
  font-size: 700;
  margin-bottom: 2rem;
}

/* nav styles */
header {
  background-color: rgba(255, 144, 14, 0.1);
}

.nav-title {
  cursor: pointer;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  color: #424242;
  margin-right: 3rem;
}

/* banner styles */
.banner-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.banner-title {
  color: #131313;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.text-normal {
  color: #727272;
  margin-bottom: 2rem;
  line-height: 1.4rem;
}

.banner-img {
  padding: 50px 130px 45px 130px;
}

.banner-img img {
  width: 100%;
}

/* main styles */
main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
  margin-bottom: 100px;
}

/* team section */
.team {
  display: flex;
  align-items: center;
  gap: 73px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 50%;
}

.team-img-container img {
  width: 100%;
}

.team-content {
  width: 50%;
  padding: 20px;
}

.team-section-title {
  margin-bottom: 24px;
}

.team-section-title .quick-list {
  color: #727272;
}
.team-section-title .of-our {
  color: #131313;
}
.team-section-title .features {
  color: #ff900e;
}

.team-section-description {
  color: #727272;
  font-size: 1rem;
  line-height: 1.33rem;
  margin-bottom: 32px;
}

/* feature section */
.feature {
  display: flex;
  align-items: center;
  gap: 54px;
}

.feature-title {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
  margin-bottom: 24px;
}

.feature-content .card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}

.feature-content .card-title {
  color: #131313;
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.feature-img img {
  height: 90%;
  margin-left: 100px;
}

.ten-years-badge {
  width: 258px;
  padding: 45px;
  background-color: #ff900e;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 100px;
}

.ten-years-badge h3 {
  font-size: 4rem;
  font-weight: 700;
  /* margin-bottom: 1rem; */
}

.ten-years-badge p {
  font-size: 1.5rem;
  font-weight: 500;
}

/* facts section */
.facts-header {
  max-width: 542px;
}

.facts-title {
  margin-bottom: 1.25rem;
}

.facts-content {
  display: flex;
  justify-content: space-around;
}

.facts-item {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
}

.facts-item img {
  width: 45px;
  margin-bottom: 10px;
}

.facts-item h3 {
  font-size: 2.8rem;
  color: #424242;
  font-weight: 600;
  margin-bottom: 10px;
}
.facts-item p {
  font-size: 1.25rem;
  color: #727272;
  font-weight: 600;
}

/* sponsors section */
.sponsors {
  margin-top: 130px;
}
.sponsors-header {
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.sponsors-companies {
  display: flex;
  justify-content: space-between;
}

/* footer */
footer {
  background-color: #fff4e7;
  padding: 40px 0;
  width: 100%;
  text-align: center;
}

footer p {
  color: #424242;
  font-size: 1.25rem;
  padding: 0 2rem;
}

.hide {
  display: none;
}

/* media query */
/* small devices */
@media screen and (max-width: 576px) {
  nav,
  nav ul,
  .team,
  .feature, .facts-content, .sponsors-companies {
    flex-direction: column;
  }

  nav ul li {
    margin-bottom: 20px;
  }

  .banner-content {
    padding: 20px;
  }
  .banner-img {
    padding: 20px;
  }
  .banner-img img {
    width: 100%;
  }

  .team-img-container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .team-content {
    width: 100%;
  }
  .feature-img {
    padding: 20px;
  }
  .feature-img img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .ten-years-badge {
    position: static;
  }
  .facts-content {
    gap: 1.5rem;
  }

  .sponsors-companies {
    gap: 3rem;
    align-items: center;
  }
  .sponsors-companies img {
    width: 70%;
    
  }
}

/* medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  nav,
  .team,
  .feature, .facts-content, .sponsors-companies {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .team-content {
    width: 100%;
  }
  .feature-img img {
    width: 100%;
    height: auto;
    margin-left: 50px;
  }
  .facts-content {
    gap: 2rem;
  }
  .sponsors-companies {
    align-items: center;
    gap: 3rem;
  }
  .sponsors-companies img {
    width: 50%;
  }
}
